<div id="login">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-lg-7 col-xl-7 mx-auto my-4">
            <div class="card card-signin flex-row">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
                  
    
                  <div class="form-label-group">
                    <input type="email" value="mailsudhakarg@gmail.com" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required>
                    <label for="inputEmail" >Email address</label>
                  </div>
                  
                  <hr>
    
                  <div class="form-label-group">
                    <input type="password" value="pass123" id="inputPassword" formControlName="pass" class="form-control" placeholder="Password"  required>
                    <label for="inputPassword">Password</label>
                  </div>
                  
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
                  <a class="d-block text-center mt-2 small" routerLink="/register">Register</a>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>