.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'h h h' 's s fl' 'ct main cart' 'f f f';
}

header{
    grid-area: h;
    background: #efefef;
    
}
.search{
    grid-area: s;
    background: #ccc;
}
.filter{
    grid-area: fl;
    background: #cdcdcd;
}
aside{
    grid-area: ct;
    background: #f00;
}
main{
    grid-area: main;
    background: #444;
}
.cart{
    grid-area: cart;
    background: #f00
}
footer{
    grid-area: f;
    background: #333;
}